.circle-wrapper {
  position: relative;
  display: inline-block;
}

.circle-svg {
  transform: rotate(-90deg);
}

.timer-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  font-weight: bold;
  pointer-events: none;
}

.timer-subtext {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: normal;
  color: #7b8c7b;
  margin-top: 10px;
  height: 20px;
  line-height: 20px;
  width: 100%;
  white-space: nowrap;
  text-align: center;
}

.progress-circle {
  transition: stroke-dashoffset 0.3s ease-out, stroke 0.3s;
}